
body
{
    background-image: url(5.jpeg);	
    background-attachment: fixed;
    overflow-x: hidden;	
}
.form
{
    background-color:#ccc;
    width: 30%;
    opacity:1;
    text-align: left;
    padding: 10px 15px 10px 10px;
    font-family:cursive;
    font-size: 18px;
    color:darkblue;
    margin-bottom: 30px;
    height: 500 px;
    border-radius:250 px; 
}
.center{
    background-color: #ccc;
}
.form2
{
    float: left;
    width: 30%;
    overflow: auto;
    margin-left: 2.5%;
    background-color:lightgoldenrodyellow;
    
    opacity: 0.7;
    text-align: left;
    padding: 5px 5px 5px 5px;
    font-family:Monotype Corsiva;
    font-size: 18px;
    color:saddlebrown;
    margin-bottom: 30px;
    height: auto;
}
.form2:hover{
    opacity: 1;
}
b {
    color: darkred;
}
h1,h2
{
    font-family: Monotype Corsiva;
    color: 	#FF0000;
    text-align: center;
}
h3
{
    margin-bottom: -20px;
    margin-top: 0px;
}

/*
h3:hover
{
     background-color:#FF0000;
}
*/

.btn3
{
    font-family: Monotype Corsiva;
    font-size: 20px;
    background-image: url( bg-35.png);
    color: #FF0000;
    margin-top: 5px;
    margin-bottom: 5px;
    outline: none;
    border: 2px solid grey;
    border-radius: 2px;
}

/*.btn3:hover
{
    display: block;
    background-image: none;
    background-color: lightblue;
    border-radius: 10px;
}
*/

title
{
    font-family: cursive;
    font-size: 16px;
    color: darkred;
}
.btn1
{ 


    
}

#delete
{
     margin-top: 0px;
     
}
.data
{
    width: 60%;
    background-image: url( bg-35.png);
    height: 24px;
    font-family:monospace;
    color:darkblue;
    border: 1px solid black;
    font-size: 18px;
    outline: none;
    
}
label
{
    font-family: Monotype Corsiva;
    font-size: 20px;
    color: cornflowerblue;
}
a {
    text-decoration:none;
}
a:hover
{
    display: block;
    color:#000000;
    transform:skewX(-5deg);
}
p  {
     font-family: cursive;
     font-size: 18px;
     color:#999900;
}
.note
{
    width: 100%;
    height: 80px;
    opacity: 0.8;
    resize: none;
    background-color:lightgoldenrodyellow;
    font-family:monospace;
    font-size: 18px;
    color:black;
    overflow-x: hidden;
    overflow-y: hidden;
    outline: none;
    border: none;
}
.note:hover
{
    opacity: 1;
}
.note2
{
    width: 80%;
    height: 100px;
    resize: none;
    background-color:lightgoldenrodyellow;
    font-family:monospace;
    font-size: 18px;
    color:darkslategray;
    overflow-x: hidden;
    overflow-y: hidden;
    outline: none;
    border: none;
    margin-top: -10px;
    margin-bottom: -20px;
}

.id
{
    width:10px;
    height: 10px;
    visibility: hidden;
    padding: 0 0 0 0;
}
footer
{

    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    color:midnightblue;
    font-family:sans-serif;
    font-size: 16px;
    text-align: center;
}
#delete
{
    text-align: right;
}